<style type="text/css">
  .bar-chart {
    margin-top: 16px;
  }

  .bar-chart svg {
    position: relative;
    top: 3px;
  }

  .bar-chart rect{
    stroke: rgba(223, 162, 110, 1) ;
    stroke-width: 1px;
  }

</style>

<div class="test bar-chart" ng-controller="TestCtrl">
  <bar-chart>
    <bar ng-repeat="datum in dataset" value="datum"></bar>
  </bar-chart>
</div>

<div class="electricity">
  <div class="top">
    <div class="title">
      <h3>ELECTRICITY</h4>
      <h4>Evergreen Brick Works</h5>
    </div>
    <div class="control"></div>
    <div class="bar-chart"></div>
  </div>
  <div class="middle">
    <ul class="stat">
      <li>
        <h5>vs. LEED Standard</h5>
        <div class="wrapper">
          <div class="control-arrow">
            <i class="up active"></i>
            <i class="down"></i>
          </div>
          <div class="number">
            57.76
          </div>
          <div class="unit">kWh</div>
          <div class="percent">87%</div>
          <pie-chart>
            <slice value="13"></slice>
            <slice value="87"></slice>
          </pie-chart>
        </div>
      </li>
      <li>
        <h5>vs. Our Average</h5>
        <div class="wrapper">
          <div class="control-arrow">
            <i class="up"></i>
            <i class="down active"></i>
          </div>
          <div class="number">
            -3.76
          </div>
          <div class="unit">kWh</div>
          <div class="percent">-17%</div>
          <pie-chart>
            <slice value="83"></slice>
            <slice value="-21"></slice>
          </pie-chart>
        </div>
      </li>

    </ul>
  </div>
  <div class="bottom">
    <div class="switch">

    </div>
    <div class="sync">
      <span>Last update: 7 min ago</span>
      <i class="sync"></i>
    </div>
  </div>

</div>
